<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
    <!-- Disabled or removed modules that caused violations are commented out -->
    <!-- <module name="JavadocPackage"/> -->
    <!-- <module name="JavadocMethod"/> -->
    <!-- <module name="JavadocVariable"/> -->
    <!-- <module name="JavadocStyle"/> -->
    <!-- <module name="LineLength"/> -->
    <!-- <module name="FileTabCharacter"/> -->
    <!-- <module name="MissingJavadocMethod"/> -->
    <!-- <module name="FinalParameters"/> -->
    <!-- <module name="DesignForExtension"/> -->
    <!-- <module name="MagicNumber"/> -->
    <!-- <module name="HiddenField"/> -->
    <!-- <module name="RedundantModifier"/> -->
    <!-- <module name="OperatorWrap"/> -->

    <module name="Translation"/>
    <module name="FileLength"/>
    <module name="RegexpSingleline">
        <property name="format" value="^\s* +\s*[^*]" />
        <property name="message" value="Indentation must use tab characters" />
    </module>

    <module name="TreeWalker">
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName">
            <property name="format" value="^(CoSetProxyBlanket|[a-z][a-zA-Z0-9]*)$"/>
        </module>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <!-- Modified LeftCurly check as a child of TreeWalker -->
        <module name="LeftCurly">
            <property name="option" value="eol"/>
        </module>

        <!-- Additional modules that remain enabled -->
    </module>
</module>